pug/index.pug
doctype html
html
  head
    meta(charset='utf-8')

    meta(name='viewport',
    content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')

    meta(http-equiv="Content-Security-Policy"
    content="" +
    "img-src * 'self' " +
    "data:; " +
    "default-src * 'self' " +
    "gap: ; " +
    "connect-src * 'self' wss://*.firebaseio.com;" +
    "style-src 'self' 'unsafe-inline'; " +
    "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://apis.google.com https://cdn.firebase.com https://*.firebaseio.com http://localhost:35729/; "
    )

    title Recess

    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')

    link(href='css/font-awesome-ionic-tabs.css' rel='stylesheet')
    link(href='css/recess.min.css', rel='stylesheet')

    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='lib/ngCordova/dist/ng-cordova.js')
    script(src='cordova.js')

    script(src='lib/jquery/dist/jquery.min.js')
    script(src='lib/angular-resource/angular-resource.min.js')

    script(src='lib/chart.js/dist/Chart.js')
    script(src='lib/angular-chart.js/dist/angular-chart.min.js')

    script(src='lib/underscore/underscore-min.js')
    script(src='lib/moment/min/moment.min.js')
    script(src='lib/angular-momentjs/angular-momentjs.min.js')

    script(src='lib/firebase/firebase.js')
    script(src='lib/angularfire/dist/angularfire.min.js')

    script(src='lib/granim/dist/granim.min.js')

    script(src='js/recess.js')
    script(src='js/controllers.js')
    script(src='js/services.js')
    script(src='js/directives.js')

  body(ng-app='recess', ng-controller='RecessController')

    ion-side-menus
      ion-side-menu-content(drag-content='false')
        ion-nav-view(animation="no-animation").view

      ion-side-menu(side='right').sidemenu
        .sidemenu__header
          .sidemenu__header-device
            i.material-icons smartphone
            h1 ID: {{user.uid | limitTo : 5 : 0}}


          .sidemenu__header-device-details
            div.sidemenu__header-device-details-detail
              i.material-icons sync
              span is collecting: {{isCollecting}}

        .sidemenu__content
          h1 Quicklinks
          .sidemenu__content-quicklinks
          div(ng-click='accessIntro()').button.button-block Watch Intro

        .sidemenu__content-debug
          .sidemenu__content-title
            i.material-icons developer_mode
            h1 Debug
          .sidemenu__content-quicklinks
          div(ng-click='accessDataCollection()').button.button-block Data Collection




    ion-nav-bar(align-title='center').ba.bar-clear
      ion-nav-back-button
      ion-nav-buttons

www/index.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"><meta http-equiv="Content-Security-Policy" content="img-src * 'self' data:; default-src * 'self' gap: ; connect-src * 'self' wss://*.firebaseio.com;style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://apis.google.com https://cdn.firebase.com https://*.firebaseio.com http://localhost:35729/; "><title>Recess</title><link href="css/ionic.app.css" rel="stylesheet"><link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"><link href="css/font-awesome-ionic-tabs.css" rel="stylesheet"><link href="css/recess.min.css" rel="stylesheet"><script src="lib/ionic/js/ionic.bundle.js"></script><script src="lib/ngCordova/dist/ng-cordova.js"></script><script src="cordova.js"></script><script src="lib/jquery/dist/jquery.min.js"></script><script src="lib/angular-resource/angular-resource.min.js"></script><script src="lib/chart.js/dist/Chart.js"></script><script src="lib/angular-chart.js/dist/angular-chart.min.js"></script><script src="lib/underscore/underscore-min.js"></script><script src="lib/moment/min/moment.min.js"></script><script src="lib/angular-momentjs/angular-momentjs.min.js"></script><script src="lib/firebase/firebase.js"></script><script src="lib/angularfire/dist/angularfire.min.js"></script><script src="lib/granim/dist/granim.min.js"></script><script src="js/recess.js"></script><script src="js/controllers.js"></script><script src="js/services.js"></script><script src="js/directives.js"></script></head><body ng-app="recess" ng-controller="RecessController"><ion-side-menus><ion-side-menu-content drag-content="false"><ion-nav-view class="view" animation="no-animation"></ion-nav-view></ion-side-menu-content><ion-side-menu class="sidemenu" side="right"><div class="sidemenu__header"><div class="sidemenu__header-device"><i class="material-icons">smartphone</i><h1>ID: {{user.uid | limitTo : 5 : 0}}</h1></div><div class="sidemenu__header-device-details"><div class="sidemenu__header-device-details-detail"><i class="material-icons">sync</i><span>is collecting: {{isCollecting}}</span></div></div></div><div class="sidemenu__content"><h1>Quicklinks</h1><div class="sidemenu__content-quicklinks"></div><div class="button button-block" ng-click="accessIntro()">Watch Intro</div></div><div class="sidemenu__content-debug"><div class="sidemenu__content-title"><i class="material-icons">developer_mode</i><h1>Debug</h1></div><div class="sidemenu__content-quicklinks"></div><div class="button button-block" ng-click="accessDataCollection()">Data Collection</div></div></ion-side-menu></ion-side-menus><ion-nav-bar class="ba bar-clear" align-title="center"><ion-nav-back-button></ion-nav-back-button><ion-nav-buttons></ion-nav-buttons></ion-nav-bar></body></html>
